<div class="background">
  <div class="colored"></div>
</div>
<app-navigation style="position: absolute; width: 100%;"></app-navigation>
<div class="main-container">
  <div class="product">
    <div class="product-background"></div>
    <div class="plus-btn">
      <img src="assets/images/plus.png">
    </div>
    <img class="product-main" src="assets/images/red-cup.png">
  </div>
  <div class="action">
    <div class="btn btn-previous">
      <img src="assets/images/previous.png">
    </div>
    <div class="btn btn-next">
      <img src="assets/images/next.png">
    </div>
  </div>
  <div class="detail"></div>
</div>
