<div class="background">
  <div class="colored"></div>
</div>
<app-navigation style="position: absolute; width: 100%;"></app-navigation>
<div class="main-container">
  <div class="product">
    <div class="product-background"></div>
    <div class="plus-btn">
      <img src="assets/images/plus.png">
    </div>
    <img class="product-main" src="assets/images/red-cup.png">
  </div>
  <div class="action">
    <div class="btn btn-previous">
      <img src="assets/images/previous.png">
    </div>
    <div class="btn btn-next">
      <img src="assets/images/next.png">
    </div>
  </div>
  <div class="detail">
    <div class="detail-select">
      <div class="detail-select-btn red"></div>
      <div class="detail-select-btn purple"></div>
    </div>
    <div class="detail-title">
      <h3>Pack of 20</h3>
      <h2>Dot Printed Paper Cups</h2>
    </div>
    <div class="detail-content">
      <p>Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.</p>
    </div>
    <button class="detail-btn">Add To Bag</button>
  </div>
</div>
